:root{
  --mainBlue:#283747;
  --lightBlue: #1A5276;
  --mainWhite: #f3f3f3;
  --lightWhite: #FDFEFE;
  --mainDark: #1B2631;
  --mainRed: #641E16;
  --mainGreen: #0B5345;
  --backgroundWhite:#F0F3F4;
  overflow-x: hidden;
}

body{
  /* font-family: 'Montserrat', sans-serif !important; */
  font-family: 'Comic Neue', cursive !important;
  background: var(--backgroundWhite) !important;
  color : var(--mainDark) !important;
}

.text-title{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.items{
  margin:25px;
}
.text-blue{
  color: var(--mainBlue)!important;
}
.text-green{
  color: var(--mainGreen)!important;
}
.text-White{
  color: var(--mainWhite)!important;
}
.text-Red{
  color: var(--mainRed)!important;
}
.bg-Red{
  background: var(--mainRed)!important;
}
.bg-mainDark{
  background: var(--mainDark)!important;
}
.back-Red{
  background: var(--mainRed)!important;
  color: var(--mainWhite)!important;
  padding: 15px 32px;
}
.back-Blue{
  background: var(--lightBlue)!important;
  color: var(--mainWhite)!important;
  padding: 15px 32px;
}
.back-Dark{
  background: var(--mainDark)!important;
  color: var(--mainWhite)!important;
  padding: 15px 32px;
}
.background-country-item{
  background: var(--mainRed) !important;
}
.background-country-item-blue{
  background: var(--lightBlue) !important;
}
.background-country-item-bl{
  background: var(--mainBlue) !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
.container_country{
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}
.container_form{
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.body_width{
  text-align: center;
}
.flex-country{
  display:flex;
}
                                       
.fl-d{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.App-logo-logo {
  height: 20vmin;
  pointer-events: none;
}
.flag-png{
  height: 10vmin;
  pointer-events: none;
}